h1 {
    color: white;
    background-color: #7C7C7C;

    height: 52px;
    margin: 0;
    padding: 0;
}
.main .top {
    margin:0;
    padding: 0;
}
#basic,#contact,#education,#ability,#project{
    border: 1px solid red;
    height: 150px;

}
h2 {
    float: left;
    width: 10%;
    height: 150px;
    margin: 0 auto;
    padding: auto;
    text-align: center;
    background-color: #e3e3e3;
    line-height: 150px;

}
#detail_1,#detail_2,#detail_3,#detail_4,#detail_5 {
    float: left;
    height: 150px;
    margin-left: 20px;
    padding: 0;
}










/*html {
    margin: 0;
    padding: 0;
}
h1 {
    color: white;
    background-color: #7C7C7C;
    text-align: left;
}
.main {
    height: 500px;
}
#basic {
    display: inline-table;
    border: 2px solid red;
    height: 50px;
    width: 100%;
    float: left;

}

#ability,#contact,#education,#project {

    border: 2px solid red;
    height: 50px;
    width: 100%;
   float: left;
    margin:0 auto;

}
h2 {
    background-color: #D1D1D1;
    height: 50px;
    width: 10%;
    margin: 0;
    float: left;
}
#inf {
    width: 90%;
    float: left;
}
*/
