* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.begin {
    width: 100%;
    height: 700px;
    margin: 0;
    padding: 0;
    background-image: url("img/pic1.gif");
}
.text {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    color: #ffffff;
    padding-top: 100px;
}
.text p {
    margin-top: 10px;
}
.signup {
    width: 800px;
    height: 150px;
    border: 0.5px solid #e3e3e3;
    margin-top: 200px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.signup h1 {
    margin-top: 10px;
    color: #ffff;
    font-size: 20px;

}
.signup span {
    font-size: 10px;
    color: #dddddd;
}
form {
    margin-top: 20px;
}
#mail {
    background-color:transparent;
    width: 200px;
    height: 30px;
    text-align: center;
    margin-right: 30px;
    color: #e3e3e3;
    border-color:#e3e3e3 ;
}
#psw {
    background-color:transparent;
    width: 200px;
    height: 30px;
    text-align: center;
    margin-right: 30px;
}
#submit {
    background-color: white;
    width: 100px;
    height: 30px;
    text-align: center;
}
.content {
    width: 100%;
    height: 400px;
}
.content h1 {
    font-size: 10px;
    text-align: center;
    padding-top: 20px;
}
.content h2 {
    font-size: 30px;
    font-weight: normal;
    width: 500px;
    margin: 0 auto;
    text-align: center;
}
.detial {
    width: 960px;
    margin: 0 auto;
}
.line1, .line2 {
    display: flex;
    margin-top: 10px;
}
.detial img {
    float: left;
    margin-right: 5px;
}
.mobile, .fluid, .access, .custom {
    width: 450px;
    height: 150px;
    margin-right: 50px;

}
.detial p {
    overflow: hidden;
}
.cover {
    background-image: url("img/pi3.gif");
    width: 100%;
    height: 700px;
    margin-top: 20px;
}
.support {
    width: 400px;
    height: 500px;
    margin-left: 300px;
    padding-top: 250px;
    text-align: left;
    color: #dddddd;
}
.support h1{
    margin-bottom: 50px;
}
.support button {
    margin-top: 50px;
    width: 150px;
    height: 40px;
    margin-right: 20px;
    text-align: center;
}
#check {
    background-color: #eeeeee;
}
#try {
    background-color: transparent;
    color: #dddddd;
}
.product {
    width: 100%;
    height: 400px;
    border-bottom: 1px solid #7C7C7C;
}
.title {
    text-align: center;
    margin-top: 50px;
    font-weight: normal;
}
.container {
    width: 960px;
    height: 300px;
    display: flex;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
}
.singletan, .hero, .portland {
    width: 250px;
    margin-right: 50px;
}
.secscreen {
    width: 100%;
    height: 900px;
    border-bottom: 1px solid #7C7C7C;
}
.partone, .parttwo {
    width: 960px;
    height: 150px;
    margin: 0 auto;
    padding-top: 50px;
}
.parttwo {
    padding-top: 80px;
    clear: both;
}
.partone img {
    float: left;
    margin-right: 30px;
}
.parttwo img {
    float: right;
    margin-left: 20px;
}
.partone h1, .parttwo h1 {
    font-size: 20px;
    padding-top: 40px;
    line-height: 30px;
}
.partone span, .parttwo span {

}
.crew {
    width: 100%;
    height: 900px;
    border-bottom: 1px solid #7C7C7C;
    overflow: hidden;
}
.dcontent {
    text-align: center;
    padding-top: 20px;
    margin: 0 auto;
    width: 680px;
}
.teacher {
    width: 960px;
    height: 800px;
    position: relative;
    margin: 0 auto;
    padding-top: ;

}
.teacher1 {
    position: absolute;
    top: 30px;
    left: 0;
    z-index: 2;
}
.teacher2 {
    position: absolute;
    top: 30px;
    right: 0;
}
.teacher3 {
    position: absolute;
    bottom: 60px;
    left: 0;
}
.teacher4 {
    position: absolute;
    bottom: 60px;
    right: 0;
}
.intorduce {
    width: 472px;
    height: 341px;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    padding-top: 100px;
    color: #dddddd;
    z-index: 1;
    opacity: 0;
    background-color: rgba(0,0,0, .65);
}
.intorduce h1 {
    font-size: 20px;
}
.intorduce span {
    font-size: 10px;
}
.pics {
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding-left: 150px;
    padding-top: 20px;
}
.intorduce:hover {
    opacity: 1;
}
.pics img {
    padding-top: 30px;
    padding-right: 20px;
}
.contacts {
    width: 960px;
    height: 700px;
    margin: 0 auto;
}
#contactform {
    width: 470px;
    height: 500px;
    border: 1px solid #7C7C7C;
    float: left;
    margin-right: 100px;
    margin-top: 50px;
    padding-top: 30px;
    text-align: center;
}
#contactform input {
    width: 300px;
    height: 40px;
    margin-top: 30px;
    margin-left: 30px;
    padding-left: 10px;
}
#contactform textarea {
    width: 300px;
    height: 100px;
    margin-top: 30px;
    margin-left: 30px;
    padding-left: 10px;
}
#contactform button {
    width: 300px;
    height: 40px;
    margin-left: 30px;
    margin-top: 30px;
    background-color: #030303;
    color: #dddddd;
}
.contactus {
    padding-top: 150px;
}
.contactus ul {
    padding-top: 30px;
    list-style-type: none;
    line-height: 50px;
}
.contactus img {
    margin-right: 10px;
}
.footer {
    width: 100%;
    height: 300px;
    background-color: #030303;
    color: #eeeeee;
    display: flex;
    margin: 0;
    padding-top: 50px;
}
.footer ul {
    list-style-type: none;
    margin-left: 150px;
    line-height: 40px;
}
.footer a {
    text-decoration: none;
    color: #7C7C7C;
    font-size: 10px;
}
.footer h1 {
    font-size: 20px;
    color: #dddddd;
}
.support1 {
    margin-right: 50px;
}
.enjoy p {
    font-size: 10px;
    color: #7C7C7C;
    padding-top: 20px;
    margin-bottom: 20px;
}
.enjoy li {
    list-style-type: none;
    float: left;
    margin-right: 10px;
}
.enjoy ul {
    float: left;
    margin: 0;
}
